.layout-dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Evita scroll general */
}


.contenido {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto; /* Scroll vertical SOLO aquí */
  height: 100vh; /* Igual altura que sidebar */
}




.boton-logout:hover {
  background-color: #c62828;
}